.nav {
  display: flex;
  // flex-direction: end !important;
  flex-grow: 4;
  justify-content: space-between !important;
  // position: relative;
  // align-items: center;
  // text-align: center;
  // margin-right: 5%;
  color: #797979;
  font-size: 16px;
  text-shadow: #9b9b9b;
  margin-top: 60;
  font-weight: bold;
  background-color: rgb(59, 59, 59);
}
a:visited {
  color: #878385;
}
